[Unit]
Description=Custom fan curve for Dell PowerEdge Server

[Service]
ExecStart=/usr/bin/python3 /opt/dell-custom-fan-curve/dell-custom-fan-curve.py
WorkingDirectory=/opt/dell-custom-fan-curve

[Install]
WantedBy=multi-user.target
